body { 
    font-family: Verdana;
    
    color: seashell;
    background-color: black;
    opacity: 0,9;
    text-align: center;
    
     }


.download{  
    color: aquamarine;
    font-size: 16px;
}

.discover{
    font-size: 50px;
}

.guide{
    font-size: 42px;
    font-weight: 300;
}

.remember{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}


.footer {
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}